.swiper {
  width: 100%;
  height: auto;

  &-button-prev,
  &-button-next {
    color: $color-violet;
  }

  &-scrollbar {
    bottom: 0;

    &-drag {
      background-color: $color-violet;
    }
  }
}